{% extends 'Houses/base.html' %}
{% load static %}
{% load template_tags %}

5
{%  block content %}

    <div class="col s12 house-image-s">
            <img src="{% static 'Image/Background1.jpg' %}" alt="" >
    </div>

    <div class="container">

        <div class="col s12 house-info">
            <h5 class="house-title s12 left-align">{{ data.house.name }}</h5>
            <span class="house-address">{{ data.address.0 }}</span>
            <div class="row house-title-under">
                <div class="col s3 house-title-under-box">
                    <img class="float-left" src="{% static 'icons/man.svg' %}" alt="Max Guests" width="25" height="25" />
                    3
                </div>
                <div class="col s3 house-title-under-box">
                    <img class="float-left" src="{% static 'icons/bed.svg' %}" alt="Max Guests" width="25" height="25" />
                    3
                </div>
                <div class="col s3 house-title-under-box">
                    <img class="float-left" src="{% static 'icons/shower.svg' %}" alt="Max Guests" width="25" height="25" />
                    3
                </div>
                <div class="col s3 house-title-under-box">
                    <img class="float-left" src="{% static 'icons/garage.svg' %}" alt="Max Guests" width="25" height="25" />
                    3
                </div>
            </div>
        </div>
        <div class="col s12 house-info">
            <div class="row house-title-under">
                <div class="col s5">
                    <span class="check-date-label large-font grey-font">Arrive</span>
                    <span class="check-date-label large-font">{{ data.check_in }}</span>
                </div>
                <div class="col s2 num_of_nights center-align">
                    <div class="content">
                        <div class="emphasize s12"> {{ data.total_days }} </div>
                        {% if data.total_days > 1 %} Nights {% else %} Night {% endif %}
                    </div>
                </div>
                <div class="col s5">
                    <span class="check-date-label large-font grey-font right-align">Leave</span>
                    <span class="check-date-label large-font right-align">{{ data.check_out }}</span>
                </div>
            </div>
        </div>
        <div class="col s12 house-info price-detail">
            <div class="row house-title-under">
                <div class="col s6">
                    {{ data.house.rate }}  x  {{ data.total_days }} nights
                </div>
                <div class="col s6 right-align">
                    {{ data.room_total }}
                </div>
            </div>
        </div>
        <div class="col s12 house-info price-total">
            <div class="row house-title-under">
                  <div class="col s6">
                        Total
                    </div>
                    <div class="col s6 right-align">
                        {{ data.room_total }}
                    </div>
                </div>
            </div>


        <div class="col s12 house-info price-total ctm_detail">
            <h5 class="house-title s12 left-align">Please Enter Your Details</h5>
            <div class="row house-title-under">
                <form action="" method="POST" class="col s12">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    <div class="row">
                    {% for form in data.form_customer %}
                        <div class="input-field col s12">

                            {{ form }}
                            {{ form.label_tag }}


                        </div>
                    {% endfor %}
                    {% for form in data.form_addr %}
                        <div class="input-field col s12">
                            {{ form }}
                            {{ form.label_tag }}
                        </div>
                    {% endfor %}
                    <div class="input-field col s12">
                        <input type="submit" class="btn" value="Next" />
                    </div>
                    </div>
                </form>
            </div>
        </div>


        <div class="col s12 house-info price-total ctm_detail">
            <h5 class="house-title s12 left-align">Please Enter Credit Details</h5>
            <div class="row house-title-under">
                <form action="" method="POST" class="col s12">

                    {% csrf_token %}
                    <div class="row">
                    {% for form in data.form_customer %}
                        <div class="input-field col s12">
                            {{ form }}
                            {{ form.label_tag }}
                        </div>
                    {% endfor %}

                    <div class="input-field col s12">
                        <input type="submit" class="btn" value="Next" />
                    </div>
                    </div>
                </form>
            </div>
        </div>


</div>
        {{ data.check_in }}
        {{ data.check_out }}
        {{ data.total_days }}
{% endblock %}
